ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family: Rockwell;
}

li {
    float: left;
}


img {
	float: center;
}




li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
	font-family: Rockwell;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  position: fixed;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}


.navbar a.active   {
  background-color: #4CAF50;
  color: white;
}

.main   {
  padding: 16px;
  margin-bottom: 30px;
}


nav.horizontal a {
	font-size: 1.5em;
	line-height: 2.2em;
}

aside  {
	display: none;
}



ul.mainmenu > li {
	float: left;
	width: 25%;
}

ul.submenu {
	width: 200%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-family: Aparajita;
}
 
 
 
body {
	background-color: lightgray;
  float: right;
  text-align: right;
 
}

h1 {

	background-color: darkgray;
}


h2 {
	
	text-align: center;
    float: center;
	font-size: 22px;

}



/* footer code */
h4 {
	letter-spacing: 2;
	text-align: center;
	font-family: Rockwell;
	font-size: 14px;
	
	
}
/* text */
p {
	background-position: 20px;
	text-align: left;
    float: left;
	font-size: 19px;
    
   
}


img {
	
float: none;
}
