ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family: Copperplate Gothic Bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Copperplate Gothic Bold;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}


.navbar a.active   {
  background-color: #4CAF50;
  color: white;
}

.main   {
  padding: 16px;
  margin-bottom: 30px;
}


nav.horizontal a {
	font-size: 1.5em;
	line-height: 2.2em;
}

aside  {
	display: none;
}



ul.mainmenu > li {
	float: left;
	width: 20%;
}

ul.submenu {
	width: 200%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
 
 
 
.body {
	
	
background-color: darkgray;
min-width: 2vw;
 min-height:100%;
font-size: 100%;

}

